# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# Archives
*.zip
*.rar
*.7z
*.tar
*.gz

# Logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary files
tmp/
temp/

# YOLO / training artifacts
*.pt
*.pth
*.ckpt
*.engine
*.torchscript
*.tflite

ml_training/runs/

ml_api/models/*.onnx
!ml_api/models/.gitkeep